/* main-page style */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap');

.main-page {
    text-align: center;
    padding: 157px 0;
}

.main-page img {
    width: 110px;
    display: inline-block;
}

.main-page i {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
}

.caption {
    text-align: center;
}

.caption p {
    font-size: 12px;
    color: #999;
}