/* List Style */
.inner-wrapper {
	  width: 360px;
    height: 600px;
    background-color: white;
    padding: 36px 24px;
    position: relative;
    font-size: 15px;
}

.list-wrapper .header {
  overflow: hidden;
  margin-bottom: 60px;
}

.list-wrapper .header h5 {
  font-size: 18px;
  margin-top: 8px;
  float: left;
}

.list-wrapper .header button {
  float: right;
  
}

.list-wrapper label, .list-wrapper input {
  cursor: pointer;
}

.list-wrapper .TodoList .complete {
  text-decoration: line-through;
  color: #b7b7b7;
}

.list-wrapper .TodoList > li.complete {
  box-shadow: 0px 0px 12px #99999954;
  background: transparent;
}

.list-wrapper .TodoList li {
  margin-bottom: 10px;
  background: linear-gradient(to right, #FF495F, #FF9254);
  color: white;
  border-radius: 5px;
  padding: 12px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 15px #f95c6f52;
}

.list-wrapper .TodoList label {
  margin-left: 16px;
}

.list-wrapper .TodoList button {
  background: none;
  float: right;
  margin-left: 12px;
}